<footer class="footer">
  <a class="footer__logo" href="index.html" tilte="Brook">
    <img src="./assets/images/brook-logo.png" alt="Brook-logo" />
  </a>
  <section class="contact">
    <h4 class="contact__title">Contact</h4>
    <p class="contact__location">
      2005 Stokes Isle Apt. 896. ana ville 10010, USA info@yourdomain.com (+68)
      120034509
    </p>
  </section>
  <section class="contact__social">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-pinterest"></i>
  </section>
  <nav class="contact__menu">
    <a class="contact__menu--link" href="index.html#Blog">Our Blog</a>
    <a class="contact__menu--link" href="index.html#Portfolio"
      >Latest projects</a
    >
    <a class="contact__menu--link" href="index.html#Contact">Contact us</a>
  </nav>
  <small class="contact__copy"> &copy; 2019 Brook. All Rights Reserved. </small>
</footer>
