<header class="header">
  <a class="header__logo" href="index.html" tilte="Brook">
    <img src="./assets/images/brook-logo.png" alt="Brook-logo" />
  </a>
  <a class="header__burguer-menu" href="index.html#hamburguesa">
    <img src="./assets/images/menu-icon.png" alt="Menu" title="menu" />
  </a>
  <nav class="header__menu">
    <a class="header__menu--link" href="index.html#Home">Home</a>
    <a class="header__menu--link" href="index.html#Pages">Pages</a>
    <a class="header__menu--link" href="index.html#Portfolio">Portfolio</a>
    <a class="header__menu--link" href="index.html#Blog">Blog</a>
    <a class="header__menu--link" href="index.html#Contact">Contact</a>
  </nav>
</header>
