<main class="main">
  <section class="hero">
    <div class="hero__img">
      <h1 class="hero__title"><span>-</span>This is Brook<span>-</span></h1>
      <h2 class="hero__title">A full-service creative agency.</h2>
    </div>
  </section>
  <section class="intro">
    <h3 class="intro__title">what we do</h3>
    <p class="intro__subtitle">
      We design & build brands, campaigns & digital projects for businesses
      large & small.
    </p>
  </section>
  <section class="description-section">
    <ul class="modern-design">
      <li class="modern-design__elements">
        <img
          class="modern-design__elements--img"
          src="./assets/images/eye-icon.jpg"
          alt=""
        />
        <h4 class="modern-design__elements--title">Modern design</h4>
        <p class="modern-design__elements--text">
          Brook embraces a modern look with various enhanced pre-defined page
          elements.
        </p>
        <a class="modern-design__elements--link" href="">More details</a>
        <i class="fas fa-arrow-right"></i>
      </li>
      <li class="modern-design__elements">
        <img
          class="modern-design__elements--img"
          src="./assets/images/book-icon.jpg"
          alt=""
        />
        <h4 class="modern-design__elements--title">Modern design</h4>
        <p class="modern-design__elements--text">
          Brook embraces a modern look with various enhanced pre-defined page
          elements.
        </p>
        <a class="modern-design__elements--link" href="">More details</a>
        <i class="fas fa-arrow-right"></i>
      </li>
      <li class="modern-design__elements">
        <img
          class="modern-design__elements--img"
          src="./assets/images/boxes-icon.jpg"
          alt=""
        />
        <h4 class="modern-design__elements--title">Modern design</h4>
        <p class="modern-design__elements--text">
          Brook embraces a modern look with various enhanced pre-defined page
          elements.
        </p>
        <a class="modern-design__elements--link" href="">More details</a>
        <i class="fas fa-arrow-right"></i>
      </li>
    </ul>
  </section>
</main>
