.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  flex-wrap: wrap;
  text-align: center;
}
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.header {
  align-content: center;
  height: 50px;
  background-color: orangered;
}
.aside1 {
  background-color: yellow;
  min-width: 20%;
}
.article {
  background-color: lightseagreen;
  padding: 10px;
}
.aside2 {
  background-color: rgb(243, 96, 120);
  min-width: 20%;
}
.footer {
  height: 50px;
  background-color: greenyellow;
}
