* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}
.section {
  background-color: rgba(211, 211, 211);
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  background-color: lightgray;
  width: 100%;
  font-size: 24px;
  padding-bottom: 30px;
}
.nav {
  background-color: rgb(0, 255, 0);
  width: 100%;
  font-size: 16px;
}
.main {
  background-color: yellow;
  width: 100%;
  margin-bottom: 20px;
}
.heading {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
.para {
  font-size: 16px;
}

.footer {
  background-color: grey;
  width: 100%;
}
.heading2 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px;
}
/*responsive pantalla de 480px a 1000px*/
@media all and (min-width: 480px) {
  .section {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
  .nav {
    width: 150%;
    height: fit-content;
    margin-right: 30px;
  }
  .main {
    margin-bottom: 0px;
  }
  .para1 {
    width: 55%;
    padding-bottom: 20px;
  }
  .articulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box-naranja {
    width: 45%;
    height: 150px;
    background-color: orange;
  }

  .footer {
    width: 100%;
  }

  .heading2 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .div1 {
    display: flex;
    flex-direction: row;
  }
  .div2 {
    display: flex;
    flex-direction: column;
  }
}
/*responsive pantalla a partir de 1000px*/
@media all and (min-width: 1000px) {
  .section {
    padding-right: 0px;
  }
  .articulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box-naranja {
    width: 45%;
    height: 200px;
  }
  .footer {
    width: 40%;
    margin-left: 30px;
    margin-right: 0px;
    height: 70%;
  }
  .div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
